/* 전체 페이지에 대한 스타일 */
    html, body {
      height: 100%;
      margin: 0;
    }
    
    /* 전체 레이아웃 */
    .container {
      display: flex;
      height: 100%;
    }
    
    /* 사이드바 스타일 */
    .sidebar {
    background-color: #9091E6;
	color: #fff;
	width: 250px;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
    }
    .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
    margin-top: 30px;
}
.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.sidebar h2 {
    margin: 50px auto;
    text-align: center;
}

.sidebar li {
    margin: 15px auto;
}
    
/* 메인 컨텐츠 스타일 */
.main-content {
    flex: 1; /* 남은 영역을 모두 차지 */
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.table.table-slit {
            border-collapse: collapse;
            border-top: none;
            border-bottom: none;
   }

   .table.table-slit>thead {
       border-bottom: 2px #b2bec3 solid;
   }

   .table.table-slit>tbody>tr:not(:last-child) {
       border-bottom: 1px #b2bec3 solid;
   }
   
   .page_wrap {
	text-align:center;
	font-size:0;
	 }
	.page_nation {
		display:inline-block;
	}
	.page_nation .none {
		display:none;
	}
	.page_nation a {
		display:block;
		margin:0 3px;
		float:left;
		border:1px solid #e6e6e6;
		width:28px;
		height:28px;
		line-height:28px;
		text-align:center;
		background-color:#fff;
		font-size:13px;
		color:#999999;
		text-decoration:none;
	}
	.page_nation .arrow {
		border:1px solid #ccc;
	}
	.page_nation .pprev {
		background:#f8f8f8 url('/static/image/page_pprev.png') no-repeat center center;
		margin-left:0;
	}
	.page_nation .prev {
		background:#f8f8f8 url('/static/image/page_prev.png') no-repeat center center;
		margin-right:7px;
	}
	.page_nation .next {
		background:#f8f8f8 url('/static/image/page_next.png') no-repeat center center;
		margin-left:7px;
	}
	.page_nation .nnext {
		background:#f8f8f8 url('/static/image/page_nnext.png') no-repeat center center;
		margin-right:0;
	}
	.page_nation a.active {
		background-color:#42454c;
		color:#fff;
		border:1px solid #42454c;
	}
	article a {
		font-size: 14px;
		font-weight: 900;
	}
	.sidebar-link {
	  display: block;
	  font-size: 16px;
	  color: #555;
	  text-decoration: none;
	  font-weight: 600;
	}
	a.link {
		  display: inline-block;
		  padding: 6px 10px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  font-size: 14px;
		  color: #333;
		  text-decoration: none;
		  text-align: center;
		  transition: background-color 0.2s ease-in-out;
		}
		
	a.link:hover {
	  background-color: #eee;
	}
	.edit-btn, .insert-btn {
		display: inline-block;
		  padding: 6px 10px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  font-size: 14px;
		  color: #333;
		  text-decoration: none;
		  text-align: center;
		  transition: background-color 0.2s ease-in-out;
		  font-weight: 600;
		  background-color: #9091E6;
	}
	.edit-btn:hover, .del-btn {
		cursor: pointer;
	}
	
	select.cate1,
select.cate2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  background-color: #F6F6F6;
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,<svg width='10' height='6' xmlns='http://www.w3.org/2000/svg'><path d='M1 1l4 4 4-4' stroke='%23333333' stroke-width='2' fill='none' fill-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px auto;
  margin-bottom: 20px;
}

select.cate1::-ms-expand,
select.cate2::-ms-expand {
  display: none;
}

select.cate1:focus,
select.cate2:focus {
  outline: none;
}
	
	input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.sales-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9091E6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto 0.1rem;
}

.sales-btn:hover {
  filter: brightness(105%);
  
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
	
	


